@model ShopMVC.Models.ViewModels.CatalogProductsViewModel

<div class="container-fluid text-center">
    <div class="row">
        <div class="col-12 mb-5">
            <h4>Sort</h4>
            <div class="btn-group">
                <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Large button
                </button>
                <div class="dropdown-menu">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked />
                        <label class="form-check-label" for="exampleRadios1">
                            Górski
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option1" checked />
                        <label class="form-check-label" for="exampleRadios2">
                            Miejski
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="row" id="catalogProducts">
                @{
                    foreach (var product in Model.CatalogProducts)
                    {
                        <div class="col-md-4 mb-4 col-6">
                            <h5>@product.ProductName</h5>
                            <h6>@product.Price$</h6>
                            <img src="@product.PhotoUrl" class="img-fluid mb-1" style="height: 250px;" />
                            <div>
                                <button id="@product.Id-buy" class="btn btn-success d-inline">Buy</button>
                            </div>
                        </div>

                        <script>
                            $(document).ready(() => {
                                $("#@product.Id-buy").click(() => {

                                    const basketProducts = {
                                        Id: @product.Id,
                                        ProductName: '@product.ProductName',
                                        Price: @product.Price,
                                        Reference: '@product.Reference',
                                        Quantity: 1
                                    };


                                    $.ajax({
                                        type: "POST",
                                        url: "/Basket/AddProduct",
                                        data: JSON.stringify(basketProducts),
                                        contentType: "application/json; charset=utf-8",
                                        dataType: "json",
                                        failure: function (response) {
                                            console.log(response);
                                        },
                                        complete: function (response) {
                                            $("#basketQuantity").html('(' + response.responseJSON.basketQuantity + ')');
                                        }
                                    });
                                });
                            });
                        </script>
                    }
                }
            </div>

            <div class="mt-2">
                <a id="loadProducts" class="catalog__arrow"> &#8659;</a>
            </div>

            <script>
                $(document).ready(() => {

                    let skip = @Model.Skip;
                    const take = @Model.Take;

                    $("#loadProducts").click(() => {

                        skip += take;

                        const model = {
                            Take: take,
                            Skip: skip
                        };

                        $.ajax({
                            type: "POST",
                            url: "/Product/GetProducts",
                            data: JSON.stringify(model),
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            failure: function (response) {
                                console.log(response);
                            },
                            complete: function (response) {
                                if (response.responseJSON !== undefined) {
                                    console.log(response.responseJSON.products);
                                }                        
                            }
                        });
                    });
                });
            </script>

        </div>
    </div>
</div>
