@model List<ShopMVC.Models.BasketProduct>

@foreach (var product in Model)
{
    <div id="basketProduct-@product.Id" class="row text-center mt-2 p-2 align-items-center order-shadow border-top">
        <div class="col-sm-4 p-1 col-12">
            <a href="/Catalog/ProductDetail/@product.Id" class="text-dark">@product.ProductName</a>
        </div>
        <div class="col-sm-3 p-1 col-12">@product.Price$</div>
        <div class="col-sm-3 p-1 col-12">
            @Html.ActionLink("+", "ChangeProductQuantity", "Basket",
                new { ChangeQuantityAction = 1, ProductId = product.Id }, new { @class = "text-dark" })

            <div class="d-inline" id="@product.Id-quantity">@product.Quantity</div>

            @Html.ActionLink("-", "ChangeProductQuantity", "Basket",
                new { ChangeQuantityAction = 2, ProductId = product.Id }, new { @class = "text-dark" })
        </div>

        <div class="col-sm-2 p-1 col-12">
            @Html.ActionLink("Delete", "RemoveProduct", "Basket", new { productId = product.Id }, new { @class = "btn btn-danger" })
        </div>
    </div>
}
