@model ShopMVC.Models.ViewModels.UserBasketViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="container mt-5">
    @foreach (var product in Model.Products)
    {
        <div id="basketProduct-@product.Id" class="row" style="align-items: center;">
            <div class="col-4">@product.ProductName</div>
            <div class="col-3">@product.Price</div>
            <div class="col-3">
                <a id="@product.Id-plus" class="basket__quantity"> + </a>
                <div class="d-inline" id="@product.Id-quantity">@product.Quantity</div>
                <a id="@product.Id-minus" class="basket__quantity"> - </a>
            </div>
            <div class="col-2">
                <button id="@product.Id-delete" class="btn btn-danger">Delete</button>
            </div>
        </div>

        <script>
            $("#@product.Id-plus").click(() => {

                const changeProductQuantity = {
                    UpdateBasketAction: 1,
                    ProductId: @product.Id,
                };

                $.ajax({
                    type: "POST",
                    url: "/Basket/UpdateBasket",
                    data: JSON.stringify(changeProductQuantity),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    failure: function (response) {
                            console.log(response);
                        },
                    complete: function (response) {
                        $("#@product.Id-quantity").html(response.responseJSON.quantity);
                        $("#basketTotalPrice").html(response.responseJSON.totalPrice + '$');
                        }
                    });
            });

            $("#@product.Id-minus").click(() => {

                const changeProductQuantity = {
                    UpdateBasketAction: 2,
                    ProductId: @product.Id,
                };

                $.ajax({
                    type: "POST",
                    url: "/Basket/UpdateBasket",
                    data: JSON.stringify(changeProductQuantity),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    failure: function (response) {
                        console.log(response);
                    },
                    complete: function (response) {
                        if (response.responseJSON.quantity <= 0) {
                            $("#basketProduct-@product.Id").remove();
                        } else {
                            $("#@product.Id-quantity").html(response.responseJSON.quantity);
                        }

                        $("#basketTotalPrice").html(response.responseJSON.totalPrice + '$');
                    }
                });
            });
        </script>
    }

    <div class="col-12 my-3 text-right">
        <h3 id="basketTotalPrice">@Model.TotalPrice$</h3>
    </div>

    <partial name="_BasketOrder" model="Model"/>
</div>
