@model ShopMVC.Models.ViewModels.OrdersViewModel

    <div class="row text-center mt-5">
        @{
            if (Model != null)
            {
                foreach (var order in Model.PaginatedOrders())
                {
                    <div class="col-8">
                        <a class="text-dark mt-4" style="text-decoration: none; width: 100%;" asp-controller="Order" asp-action="OrderDetail" asp-route-id="@order.OrderId">
                            <div class="col-3 d-inline">@order.OrderDate</div>
                            <div class="col-3 d-inline">@order.OrderStatus.ToString().Replace("_", " ")</div>
                            <div class="col-3 d-inline">@order.TotalPrice$</div>
                        </a>
                    </div>
                    <div class="col-4">
                        @if (order.OrderStatus == ShopMVC.Models.Enums.OrderStatusEnum.OrderStatus.Waiting_For_Confirm)
                        {
                            @Html.ActionLink("Cancel", "DeleteOrder", "Order", new { id = order.OrderId }, new { @class = "btn btn-warning" })
                        }
                        else if (order.OrderStatus == ShopMVC.Models.Enums.OrderStatusEnum.OrderStatus.Delivered)
                        {
                            @Html.ActionLink("Delete", "DeleteOrder", "Order", new { id = order.OrderId }, new { @class = "btn btn-danger" })
                        }
                    </div>
                }
            }
        }

        @if (Model.PageCount() > 1)
        {
            <ul class="pagination">
                @for (int i = 1; i < Model.PageCount() + 1; i++)
                {
                    <li class="@(i == Model.CurrentPage ? "page-item active" : "page-item")">
                        <form asp-action="Index" asp-controller="Order" method="get">
                            @Html.TextBoxFor(x => x.FilteringData.OrderStatus, new { @type = "hidden"})
                            <input value="@i" name="filteringData.page" type="hidden" />
                            <input type="submit" class="page-link" value="@i"/>
                        </form>
                    </li>
                }
            </ul>
        }

        <partial name="_Filter" model="Model" />
    </div>