@model ShopMVC.Models.ViewModels.OrdersViewModel

@{
    if (Model != null && Model.Orders.Count > 0)
    {
        <div class="col-12 border text-center">
            @foreach (var order in Model.PaginatedOrders())
            {
                <div class="row custom-shadow border-top align-items-center mb-1">
                    <div class="col-12 col-md-8 my-2">
                        <a class="row text-dark" style="text-decoration: none;" asp-controller="Order" asp-action="OrderDetail" asp-route-id="@order.OrderId">
                            <div class="col-4">@order.OrderDate</div>
                            <div class="col-4">@order.OrderStatus.ToString().Replace("_", " ")</div>
                            <div class="col-4">@order.TotalPrice$</div>
                        </a>
                    </div>
                    <div class="col-12 col-md-4 my-2">
                        @if (order.OrderStatus == ShopMVC.Models.Enums.OrderStatusEnum.OrderStatus.Waiting_For_Confirm)
                        {
                            @Html.ActionLink("Cancel", "DeleteOrder", "Order", new { id = order.OrderId }, new { @class = "btn btn-warning" })
                        }
                        else if (order.OrderStatus == ShopMVC.Models.Enums.OrderStatusEnum.OrderStatus.Delivered)
                        {
                            @Html.ActionLink("Delete", "DeleteOrder", "Order", new { id = order.OrderId }, new { @class = "btn btn-danger" })
                        }
                    </div>
                </div>
            }
        </div>
    }
}

@if (Model.PageCount() > 1)
{
    <ul class="pagination">
        @for (int i = 1; i < Model.PageCount() + 1; i++)
        {
            <li class="@(i == Model.CurrentPage ? "page-item active" : "page-item")">
                <form asp-action="Index" asp-controller="Order" method="get">
                    @Html.TextBoxFor(x => x.FilteringData.OrderStatus, new { @type = "hidden" })
                    <input value="@i" name="filteringData.page" type="hidden" />
                    <input type="submit" class="page-link" value="@i" />
                </form>
            </li>
        }
    </ul>
}

<partial name="_OrderFilter" model="Model" />