@model ShopMVC.Models.ViewModels.OrderDetailViewModel


<div class="col-12 text-left">
    <p style="font-size: 22px; font-weight:400;"><i class="fas fa-box"></i> Order ID: @Model.OrderId</p>
</div>
<div class="col-12 text-left">
    <p style="font-size: 22px; font-weight:400;"><i class="fas fa-calendar-day"></i> Ordered: @Model.OrderDate</p>
</div>

<div class="col-12 mt-4 order-detail-shadow text-center">
    <div class="row">
        <div class="col-6 mt-3">
            <p>
                <i class="fas fa-house-user"></i> Customer <br />
                @Model.CustomerFirstName @Model.CustomerLastName <br />
                @Model.Street @Model.HouseNumber <br />
                @Model.PostCode @Model.City <br />
                @Model.PhoneNumber
            </p>
        </div>
        <div class="col-6 mt-3">
            <p>
                <i class="fas fa-industry"></i> Industry <br />
                BikeProduction <br />
                Street 12 <br />
                72-162 City <br />
                829127201
            </p>
        </div>
    </div>

    <partial name="_OrderProgressbar" model="Model.OrderStatus" />
</div>

<div class="mt-4 col-12 order-detail-items-shadow">
    <div class="p-3"></div>

    <div class="col-6 offset-3 total-price-shadow text-center" style="background-color: #d4d4d4;">
        <p class="m-0" style="font-weight: 500; font-size: 20px;">@Model.TotalPrice$</p>
    </div>

    <partial name="_OrderItems" model="Model.OrderItems" />
</div>


