@model ShopMVC.Models.ViewModels.OrderDetailViewModel

    <div class="row text-center">
        <div class="col-4">Order Date:</div>
        <div class="col-4">Order Status:</div>
        <div class="col-4">TotalPrice:</div>

        <div class="col-4 mt-3">
            <p>@Model.OrderDate</p>
        </div>
        <div class="col-4 mt-3">
            <p>@Model.OrderStatus.ToString().Replace("_", " ")</p>
        </div>
        <div class="col-4 mt-3">
            <p>@Model.TotalPrice$</p>
        </div>

        <hr class="mt-5" style="width: 100%;" />

        <div class="col-12 mt-5">
            <h6>Personal Data</h6>
        </div>

        <div class="col-6 mt-2">
            <p>First Name: @Model.CustomerFirstName</p>
        </div>
        <div class="col-6 mt-2">
            <p>Last Name: @Model.CustomerLastName</p>
        </div>
        <div class="offset-3 col-6 mt-1">
            <p>Phone Number: @Model.PhoneNumber</p>
        </div>

        <hr class="mt-5" style="width: 100%;" />

        <div class="col-12 mt-5">
            <h6>Address</h6>
        </div>

        <div class="col-6 mt-2">
            <p>City: @Model.City</p>
        </div>
        <div class="col-6 mt-2">
            <p>Post Code: @Model.PostCode</p>
        </div>
        <div class="col-6 mt-1">
            <p>Street: @Model.Street</p>
        </div>
        <div class="col-6 mt-1">
            <p>House Number: @Model.HouseNumber</p>
        </div>

        <hr class="mt-5" style="width: 100%;" />

        <div class="col-12 mt-5 mb-4">
            <h6>Ordered Products</h6>
        </div>


        @foreach (var item in Model.OrderItems)
        {
            var itemPrice = item.Price * item.Quantity;

            <div class="col-4 mb-2">@item.ProductName</div>
            <div class="col-4 mb-2">@itemPrice$</div>
            <div class="col-4 mb-2">@item.Quantity</div>
        }

    </div>