@model ShopMVC.Areas.Admin.Models.ViewModels.LoadingPlacesViewModel

<div class="row text-center pt-4">
    <div class="col-md-9 offset-md-3 col-12 col-lg-10 offset-lg-2 text-center">
        <a class="btn btn-success mb-3" asp-controller="Delivery" asp-action="IndexPack">
            <i class="fas fa-cubes"></i> &nbsp;Packs
        </a>

        <div class="row mb-2">
            <div class="text-left col-6">
                <h4>Loading Places</h4>
            </div>
            <div class="text-right col-6">
                <a class="btn btn-success" asp-controller="Delivery" asp-action="CreateLoadingPlace">
                    Add New Loading Place
                </a>
            </div>
        </div>

        @foreach (var loadingPlace in Model.LoadingPlaces)
        {
            <div class="custom-shadow border-top p-2 mb-1 row align-items-center">
                <div class="col-12 col-sm-3">
                    <a class="text-dark" style="text-decoration: none;" 
                       asp-controller="Delivery" asp-action="LoadingPlaceDetail" asp-route-id="@loadingPlace.Id">
                        @loadingPlace.LoadingPlaceName
                    </a>
                </div>
                <div class="col-12 col-sm-3">
                    @loadingPlace.LoadingPlaceStatus.ToString().Replace("_", " ")
                </div>
                <div class="col-12 col-sm-3">
                    Qty Left: @(loadingPlace.AmountOfSpace - loadingPlace.LoadedQuantity)
                </div>
                <div class="col-12 col-sm-3">             
                        @Html.ActionLink("Edit", "UpdateLoadingPlace", "Delivery", new { loadingPlaceId = loadingPlace.Id }, new { @class = "btn btn-success" })
                </div>
            </div>
        }
    </div>

    @await Html.PartialAsync("~/Areas/Admin/Views/Delivery/_LoadingPlaceFilter.cshtml", Model)
</div>