@model ShopMVC.Areas.Admin.Models.ViewModels.LoadingPlaceDetailViewModel
@using static ShopMVC.Areas.Admin.Models.Enums.LoadingPlaceStatusEnum

<div class="row mt-3 col-12 col-md-9 offset-md-3 col-lg-10 offset-lg-2">
    <div class="col-12 text-left">
        <div class="row">
            <div class="text-left col-6">
                <p style="font-size: 22px; font-weight:400;"><i class="fas fa-people-carry"></i> Loading Place ID: @Model.LoadingPlace.Id</p>
            </div>
            @if (Model.LoadingPlace.PacksToDelivery.Count <= 0)
            {
                <div class="text-right col-6">
                    @Html.ActionLink("Delete", "DeleteLoadingPlace", "Delivery", new { id = Model.LoadingPlace.Id }, new { @class = "btn btn-danger" })
                </div>
            }
            @if (Model.LoadingPlace.LoadingPlaceStatus == LoadingPlaceStatus.Loading)
            {
                <div class="text-right col-6">
                    @Html.ActionLink("Start Delivery", "StartDelivery", "Delivery", new { loadingPlaceId = Model.LoadingPlace.Id }, new { @class = "btn btn-success" })
                </div>
            }
        </div>
    </div>

    <div class="col-12 mt-4 detail-shadow text-center admin-detail">
        <div class="row">
            <div class="col-12 mt-3">
                <p>
                    <i class="fas fa-warehouse"></i> @Model.LoadingPlace.LoadingPlaceName <br />
                    Amount of space: @Model.LoadingPlace.AmountOfSpace <br />
                    Loaded quantity: @Model.LoadingPlace.LoadedQuantity <br />
                    Left quantity: @(Model.LoadingPlace.AmountOfSpace - Model.LoadingPlace.LoadedQuantity) <br />
                </p>
            </div>
        </div>

        @await Html.PartialAsync("~/Areas/Admin/Views/Delivery/_LoadingPlaceProgressbar.cshtml", Model.LoadingPlace.LoadingPlaceStatus)
    </div>

    @await Html.PartialAsync("~/Areas/Admin/Views/Delivery/_PackItems.cshtml", Model.LoadingPlace)
</div>
