@model ShopMVC.Areas.Admin.Models.ViewModels.PackDetailViewModel
@using static ShopMVC.Areas.Admin.Models.Enums.PackStatusEnum

<div class="row mt-3 col-12 col-md-9 offset-md-3 col-lg-10 offset-lg-2">
    <div class="col-12 text-left">
        <p style="font-size: 22px; font-weight:400;"><i class="fas fa-box"></i> Pack ID: @Model.PackToDelivery.Id</p>
    </div>
    <div class="col-12 text-left">
        <p style="font-size: 22px; font-weight:400;"><i class="fas fa-calculator"></i> Pack Quantity: @Model.PackToDelivery.ProductsQuantity</p>
    </div>
    <div class="col-12 text-left">
        <p style="font-size: 22px; font-weight:400;"><i class="fas fa-calendar-day"></i> Created: @Model.PackToDelivery.Date</p>
    </div>

    <div class="col-12 mt-4 detail-shadow text-center admin-detail">
        <div class="row">
            <div class="col-12 mt-3">
                <p>
                    <i class="fas fa-house-user"></i> Address <br />
                    @Model.PackToDelivery.Street @Model.PackToDelivery.HouseNumber <br />
                    @Model.PackToDelivery.PostCode @Model.PackToDelivery.City <br />
                    @Model.PackToDelivery.PhoneNumber
                </p>
            </div>
        </div>

        @await Html.PartialAsync("~/Areas/Admin/Views/Delivery/_PackProgressbar.cshtml", Model.PackToDelivery.PackStatus)
    </div>

    @if (Model.PackToDelivery.PackStatus == PackStatus.Waiting)
    {
        <div class="mt-5 col-12 detail-items-shadow admin-detail">
            <div class="items-list p-2 pb-3">
                @foreach (var loadingPlace in Model.LoadingPlaces)
                {
                    if ((loadingPlace.AmountOfSpace - loadingPlace.LoadedQuantity) >= Model.PackToDelivery.ProductsQuantity)
                    {
                        <div class="row border-top custom-shadow mt-3 align-items-center text-center">
                            <div class="col-12 col-sm-4 border-right p-2">Id: @loadingPlace.LoadingPlaceName</div>
                            <div class="col-12 col-sm-4 border-right p-2">Qty Left: @(loadingPlace.AmountOfSpace - loadingPlace.LoadedQuantity)</div>
                            <div class="col-12 col-sm-4 border-right p-2">
                                @Html.ActionLink("Load Pack", "LoadPack", "Delivery",
                                    new { loadingPlaceId = loadingPlace.Id, packId = Model.PackToDelivery.Id }, new { @class = "btn btn-success" })
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    }

</div>
