@model ShopMVC.Areas.Admin.Models.ViewModels.PostPutPartViewModel

<div class="col-12 col-md-9 offset-md-3 col-lg-10 offset-lg-2 mt-4">
    <h4>Edit Part</h4>
</div>

@using (Html.BeginForm("UpdatePart", "Warehouse", FormMethod.Post))
{
    <div class="row col-12 mt-3 col-md-10 offset-md-2">
        @Html.TextBoxFor(x => x.Part.Id, new { style = "display: none"})

        <div class="col-lg-6 offset-lg-0 offset-md-1 mb-3">
            <label for="partName">Part Name</label>
            @Html.TextBoxFor(x => x.Part.PartName, new { id = "partName", @class = "form-control" })
        </div>
        <div class="col-lg-6 offset-lg-0 offset-md-1 mb-3">
            <label for="reference">Reference</label>
            @Html.TextBoxFor(x => x.Part.Reference, new { id = "reference", @class = "form-control" })
        </div>
        <div class="col-lg-6 offset-lg-0 offset-md-1 mb-3">
            <label for="quantity">Quantity</label>
            @Html.TextBoxFor(x => x.Part.Quantity, new { id = "quantity", @type = "number", @class = "form-control" })
        </div>
        <div class="col-lg-6 offset-lg-0 offset-md-1 mb-3">
            <label for="quantityForProduction">Quantity For Production</label>
            @Html.TextBoxFor(x => x.Part.QuantityForProduction, new { id = "quantityForProduction", @type = "number", @class = "form-control" })
        </div>
        <div class="text-center col-12 col-md-11 offset-md-1 offset-lg-0 col-lg-12 mb-3">
            <button type="submit" class="btn btn-success">Update</button>
        </div>
        <div class="text-center col-12 col-md-11 offset-md-1 offset-lg-0 col-lg-12 mb-3">
            <div class="text-danger" style="list-style-type: none;">@Html.ValidationSummary()</div>
        </div>
    </div>
}