@model ShopMVC.Models.ViewModels.OrdersViewModel

<div class="row text-center pt-4">
    <div class="col-md-9 offset-md-3 col-12 col-lg-10 offset-lg-2 text-center">
        @if (Model != null)
        {
            foreach (var order in Model.PaginatedOrders())
            {
                <div class="custom-shadow border-top p-2 mb-1">
                        <a class="row text-dark" style="text-decoration: none;" asp-controller="Order" asp-action="OrderDetail" asp-area="" asp-route-id="@order.OrderId">
                            <div class="col-12 col-sm-4">@order.OrderDate</div>
                            <div class="col-12 col-sm-4">@order.OrderStatus.ToString().Replace("_", " ")</div>
                            <div class="col-12 col-sm-4">@order.TotalPrice$</div>
                        </a>
                </div>
            }
        }
    </div>

    @if (Model.PageCount() > 1)
    {
        <ul class="pagination pt-5 position-relative" style="left: 50%; transform: translateX(-50%);">
            @for (int i = 1; i < Model.PageCount() + 1; i++)
            {
                <li class="@(i == Model.CurrentPage ? "page-item active" : "page-item")">
                    <form asp-action="Index" asp-controller="Order" asp-area="Admin" method="get">
                        @Html.TextBoxFor(x => x.FilteringData.OrderStatus, new { @type = "hidden" })
                        <input value="@i" name="filteringData.page" type="hidden" />
                        <input type="submit" class="page-link" value="@i" />
                    </form>
                </li>
            }
        </ul>
    }

    <partial name="_OrderFilter" model="Model" />
</div>
