@model ShopMVC.Areas.Admin.Models.ViewModels.ProductionQueuesViewModel
@using static ShopMVC.Areas.Admin.Models.Enums.ProductionStatusEnum

<div class="row text-center pt-4">
    <div class="col-md-9 offset-md-3 col-12 col-lg-10 offset-lg-2 text-center">

        <div class="text-left">
            <h4>Production Queues</h4>
        </div>

        @foreach (var productionQueue in Model.ProductionQueues)
        {
            <div class="custom-shadow border-top py-3 p-2 mb-1 align-items-center row">
                <div class="col-12 col-sm-3">Reference: @productionQueue.Reference</div>
                <div class="col-12 col-sm-3">@productionQueue.ProductionStatus.ToString().Replace("_", " ")</div>
                <div class="col-12 col-sm-3">Qty: @productionQueue.Quantity</div>
                @if (productionQueue.ProductionStatus == ProductionStatus.Waiting
                 || productionQueue.ProductionStatus == ProductionStatus.NoParts)
                {
                    <div class="col-12 col-sm-3">
                        @Html.ActionLink("Confirm", "ConfirmProduction", "Production", new { productionId = productionQueue.Id }, new { @class = "btn btn-info" })
                    </div>
                }
                @if (productionQueue.ProductionStatus == ProductionStatus.Confirmed)
                {
                    <div class="col-12 col-sm-3">
                        @Html.ActionLink("Start Creation", "StartCreatingProducts", "Production", new { productionId = productionQueue.Id }, new { @class = "btn btn-primary" })
                    </div>
                }
                @if (productionQueue.ProductionStatus == ProductionStatus.BeingCreated)
                {
                    <div class="col-12 col-sm-3">
                        @Html.ActionLink("Finish", "FinishProduction", "Production", new { productionId = productionQueue.Id }, new { @class = "btn btn-success" })
                    </div>
                }
            </div>
        }
    </div>

    @await Html.PartialAsync("~/Areas/Admin/Views/Production/_ProductionFilter.cshtml", Model)
</div>