@model ShopMVC.Models.CatalogProduct

<div class="row text-center">
    <div class="col-12 col-md-6 mt-5">
        <img src="@Model.PhotoUrl" class="img-fluid" />
    </div>
    <div class="col-12 col-md-6 text-left mt-5">
        <p style="color: gray;">@Model.BrandName.ToUpper()</p>
        <p style="font-size: 22px; font-weight: 700;">@Model.ProductName</p>
        <p class="mt-3" style="font-weight: 500;">Type</p>
        <p class="ml-4">@Model.BikeType.ToString().Replace("_", " ")</p>
        <p class="mt-3" style="font-weight: 500;">Color</p>
        <p class="ml-4">@Model.Colors.ToString().Replace("_", " ")</p>
        <div class="row text-center">
            <div class="col-6 mt-3">
                <p>@Model.Price$</p>
            </div>
            <div class="col-6 mt-3">
                <button class="btn btn-success">Buy</button>
            </div>
        </div>
    </div>
</div>
